/* CSS - Cascading Style Sheets: Iremos escrever de cima para baixo.*/
body {
  background-color: violet;
}

header {
  border: solid white;
}

h1 {
  color: white;
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
}

img {
  width: 200px;
  border-radius: 33px;
  position: relative;
  top: 12px;
  left: 130px;
}

p {
  color: white;
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  font-family: Helvetica, Verdana, sans-serif;
}

section {
  color: white;
}

footer {
  color: white;
}
nav {
  border: solid white;
}

a {
  text-decoration: none;
  color: seashell;
}
